* {
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans';
}

body {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
  "aside main main"
  "aside section section";
}

img {
  width: 35px;
}

aside {
  background: #1F1F3D;
  font-stretch: expanded;
  grid-area: aside;
  border-right: 2px solid #FFFFFF;
}

.idea-box-heading {
  border-bottom: 2px solid #353567;
  color: #E9E9F3;
  font-size: 27px;
  font-weight: 600;
  padding: 6% 5%;
}

.starred-container {
  border-bottom: 2px solid #353567;
  display: flex;
  flex-direction: column;
}

h3 {
  color: #BFBFDD;
  font-size: 20px;
  font-weight: 600;
  padding: 6% 5%;
}

.show-starred-ideas-btn {
  align-self: stretch;
  background: #5356A4;
  border: 2px solid #353567;
  color: #E9E9F3;
  font-size: 27px;
  font-weight: 600;
  margin: 2% 5% 8% 5%;
  padding: 2% 5%;
}

main {
  grid-area: main;
}

.idea-form {
  background-color: #A9AAD2;
  color: #1F1F3D;
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 20px;
  padding: 3% 25%;
}

.idea-form label {
  padding: 0% 0% 1.5% 0.3%;
}

.idea-input {
  border: 3px solid #5356A4;
  border-radius: 4px;
  color: #1F1F3D;
  font-size: 28px;
  margin-bottom: 8%;
  padding: 1% 2%;
}

.title-input {
  font-size: 28px;
  font-weight: 800;
}

.body-textarea {
  resize: none;
}

.save-btn {
  background-color: #353567;
  border: 3px solid #5356A4;
  border-radius: 4px;
  color: #E9E9F3;
  cursor: pointer;
  font-size: 27px;
  font-weight: 800;
  margin-bottom: 8%;
  padding: 2% 0%;
}

#search {
  width: 100%;
  padding: 0%;
  display: flex;
  flex-direction: row;
  margin-bottom: 8%;
}

.search-btn {
  background: #353567 no-repeat;
  width: 15%;
  cursor: pointer;
  text-align: center;
  border: 3px solid #5356A4;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: none;
  margin-right: -0.5%;
  outline: none;
  padding-right: 1%;
}

.search-btn img {
  width: 55%;
}

.search-input {
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  height: 100%;
  margin: 0;
  font-size: 20px;
  padding: 2.93%;
  width: 100%;
  outline: none;
}

.search-input::placeholder {
  color: #A9AAD2;
}

section {
  grid-area: section;
  background-color: #EAEAF4;
  height: 102%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.card-container {
  width: 29%;
  height: 290px;
  background-color: #FFFFFF;
  margin: 2%;
  border: 1px solid #6E646B;
  margin-bottom: 4%;
  margin-top: 2.5%;
}

.card-header {
  background-color: #1F1F3D;
  display: flex;
  justify-content: space-between;
  padding: 2% 1.5%;
}

.card-footer {
  background-color: #5356A4;
  display: flex;
  align-items: center;
  border: 1px solid #6E646B;
  padding: 1.5% 1%;
  margin: 0% -1px;
}

.idea-title-heading {
  padding: 7% 6% 3% 6%;
  font-size: 25px;
  font-weight: 700;
}

.card-idea-paragraph {
  height: 55%;
  padding: 0% 5%;
  font-size: 25px;
  color: #1F1F3D;
}

.card-comment {
  display: inline-block;
  color: #E9E9F3;
  font-size: 20px;
  text-align: center;
  font-weight: 600;
  margin-left: 2%;
}
