* {
  /* border: 1px solid red; */
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans';
}

body {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
  "aside main main"
  "aside section section";
}

img {
  width: 30px;
}

aside {
  background: #1F1F3D; /* M ADDED */
  /* display: flex; */
  font-stretch: semi-expanded;
  grid-area: aside;
}
/* M ADDED */
.idea-box-heading {
  border-bottom: 1px solid #353567;
  color: #E9E9F3;
  font-size: 18px;
  font-weight: 600;
}
/* M ADDED */
.starred-container h3 {
  border-bottom: 1px solid #353567;
  color: #BFBFDD;
  font-size: 12px;
  font-weight: 600;

}
/* M ADDED */
.show-starred-ideas-btn {
  background: #5356A4;
  border: 1px solid #353567;
  color: #E9E9F3;
  font-weight: 600;
  padding: 2% 5%;
}

main {
  grid-area: main;
}

section {
  grid-area: section;
}
