* {
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans';
}

body {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
  "aside main main"
  "aside section section";
}

img {
  width: 30px;
}

aside {
  background: #1F1F3D; /* M ADDED */
  font-stretch: expanded; /* M ADDED */
  grid-area: aside;
}
/* M ADDED */
.idea-box-heading {
  border-bottom: 1px solid #353567;
  color: #E9E9F3;
  font-size: 20px;
  font-weight: 600;
  padding: 6% 5%;
}
/* M ADDED */
.starred-container {
  border-bottom: 1px solid #353567;
  display: flex;
  flex-direction: column;
}
/* M ADDED */
h3 {
  color: #BFBFDD;
  font-size: 14px;
  font-weight: 600;
  padding: 6% 5%;
}
/* M ADDED */
.show-starred-ideas-btn {
  align-self: stretch;
  background: #5356A4;
  border: 2px solid #353567;
  color: #E9E9F3;
  font-size: 20px;
  font-weight: 600;
  margin: 2% 5% 8% 5%;
  padding: 2% 5%;
}

main {
  grid-area: main;
}

/* FORM */
.idea-form {
  background-color: #A9AAD2;
  color: #1F1F3D;
  display: flex;
  flex-direction: column;
  font-weight: 800;
  font-size: 1.5rem;
  padding: 3% 25%;
}

.idea-form label {
  padding: 0% 0% 1.5% 0.3%;
}

.idea-input {
  border: 3px solid #5356A4;
  border-radius: 4px;
  color: #1F1F3D;
  font-size: 1.5rem;
  margin-bottom: 8%;
  padding: 2% 2%;
}

.title-input {
  font-size: 1.5rem;
  font-weight: 800;
}

.body-textarea {
  resize: none;
}

.save-btn {
  background-color: #353567;
  border: 3px solid #5356A4;
  border-radius: 4px;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 800;
  margin-bottom: 8%;
  padding: 2.5% 0%;
}

#search {
  width: 100%;
  padding: 0%;
  display: flex;
  flex-direction: row;
  margin-bottom: 8%;
}

.search-btn {
  background: #353567 no-repeat;
  width: 19%;
  cursor: pointer;
  text-align: center;
  border: 3px solid #5356A4;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: none;
  margin-right: -0.5%;
  outline: none;
}

.search-btn img {
  width: 50%;
}

.search-input {
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  height: 100%;
  margin: 0;
  font-size: 1.5rem;
  padding: 3.05%;
  width: 100%;
  outline: none;
}

.search-input::placeholder {
  color: #A9AAD2;
}

section {
  grid-area: section;
}
